body {
	background-color: white;
	margin-left: 100px;
	margin: 0;
}

nav {
	background-color: #F2F3F4;
	position: fixed;
	padding-left: 20px;
	left: 0;
	right: 0;
}

nav h1 {
	float: left;
}


nav ul {
	margin-right: 50px;
	position: relative;
	text-align: right;

}

nav li {
  	display: inline-block;
  	text-align: right;
  	margin-right: 5%;
}

nav li a:link {
	color: purple;
	text-decoration: none;
	float: right;
}

td {
	border: solid black 1px;
}

main {
	padding-left: 200px;
	margin: auto;
}

.searchform {
	padding-top: 150px;
}

.searchform input {
    width: 300px;
    height: 30px;
}

.searchform .magnifying-glass {
	width: 30px;
	vertical-align: middle;
	border: solid black 1px;
	margin-left: 3px;
}

.options {
    table-layout: fixed;
    width: 250px; 
    margin-top: 15px;
    text-align: center;
    padding-top: 10px;
}

.adspace {
	color: grey;
	font-size: 20px;

}

.adspace ul {
	list-style: none;
    padding-left: 0;
}

.adspace li {
	margin: 5px 0;
}

