 .topmenu {
 	background-color: orange;
 }
 .topmenu h1 {
 	font-size: 30px;
 }
 .topmenu h3 {
 	font-size: 16px;
 }
 .character {
 	width: 100%;
 }
 .card-info {
 	border: 1px;
 	border-style: solid;
 	border-color: grey;
 	padding-left: 15px;
 	border-radius: 15px;
 }